// out: ../../resources/css/style.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true
body {
    background: url(../img/background.jpg) no-repeat black;
    background-size: 100%;
    .container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        .console-container {
            width: 80%;
            height: 70vh;
            .console {
                opacity: .5;
                background-color: black;
                border: solid 2px gray;
                width: 102%;
                height: inherit;
            }
            #console {
                top: 9.75rem;
                padding: 0 .5rem;
                position: absolute;
                width: 79%;
                height: inherit;
                overflow-y: auto;
                overflow-x: hidden;
                .line {
                    display: flex;
                    flex-direction: row;
                    font-family: monospace;
                    font-size: 1em;
                    span {
                        margin-right: .5rem;
                    }
                    p {
                        display: inherit;
                        margin: 0 !important;
                        caret-color: auto;
                        a {
                            text-decoration: none;
                            color: dodgerblue;
                        }
                    }
                    p:active,
                    p:focus {
                        outline: none;
                    }
                }
                .line:last-child>p:last-child:after {
                    content: "_";
                    opacity: 0;
                    animation: cursor 1s infinite;
                }
            }
        }
    }
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 5px;
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: .1rem;
}

@media (max-width: 1120px) {
    body .container .console-container #console {
        width: inherit;
    }
}

@media (max-width: 800px) {
    body .container .console-container #console {
        width: 78%;
    }
}

@media (max-width: 500px) {
    body .container .console-container #console {
        width: 75%;
    }
}